* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #5e51be;
}
.container {
  display: flex;
  align-items: flex-end;
  width: 850px;
  padding: 60px 40px;
  column-gap: 70px;
  background-color: #ffffff;
  border-radius: 10px;
}
.hangman-block {
  position: relative;
}
.hangman-block__img {
  max-width: 270px;
}
.title {
  margin: 20px 0 0;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.game-block {
  text-align: center;
}
.game-block__word-display {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 10px;
}
.game-block__letter {
  width: 28px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid #000000;
}
.game-block__letter_guessed {
  margin: -39px 0 35px;
  border-color: transparent;
}
.game-block__hint {
  margin-bottom: 15px;
  font-size: 1rem;
}
.game-block__guess {
}
.bold {
  font-weight: 600;
}
.bold_red {
  color: #ff0000;
}
.game-block__keybord {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 5px;
}
:where(.modal__restart, .game-block__char) {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  text-transform: uppercase;
  background: #ffffff;
  border: none;
  border: 1px solid #000000;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.game-block__char {
  width: calc(100% / 9 - 5px);
  padding: 7px;
}
.game-block__char_valid {
  background-color: #73da5c;
}
.game-block__char_invalid {
  background-color: #da5c5c;
}
:where(.game-block__char_valid, .game-block__char_invalid) {
  pointer-events: none;
}
:where(.modal__restart, .game-block__char):not(
    .game-block__char_valid,
    .game-block__char_invalid
  ):hover {
  background-color: #e6e6ec;
}

.modal {
  position: fixed;
  padding: 0 10px;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.608);
  opacity: 0;
  transition: opacity 0.3s linear;
  pointer-events: none;
}
.show {
  opacity: 1;
  pointer-events: auto;
}
.modal__content {
  width: 100%;
  max-width: 420px;
  padding: 30px;
  /* text-align: center; */
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__img {
  display: block;
  max-width: 300px;
  margin-bottom: 20px;
  object-fit: fill;
}
.modal__result {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;
}
.modal__text {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-size: 500;
  text-align: center;
}
.modal__answer {
  font-weight: 600;
  color: #5e51be;
}
.modal__restart {
  padding: 12px 23px;
}

.hangman-block__limb {
  position: absolute;
  background-size: cover;
}
.hangman-block__limb_1 {
  top: 100px;
  left: 135px;
  width: 101px;
  height: 101px;
  background-image: url('./img/head.svg');
}
.hangman-block__limb_2 {
  top: 170px;
  left: 227px;
  width: 5px;
  height: 131px;
  background-image: url('./img/body.svg');
}
.hangman-block__limb_3 {
  top: 180px;
  left: 163px;
  width: 68px;
  height: 81px;
  background-image: url('./img/left-hand.svg');
}
.hangman-block__limb_4 {
  top: 180px;
  left: 227px;
  width: 68px;
  height: 81px;
  background-image: url('./img/right-hand.svg');
}
.hangman-block__limb_5 {
  top: 300px;
  left: 163px;
  width: 68px;
  height: 81px;
  background-image: url('./img/left-leg.svg');
}
.hangman-block__limb_6 {
  top: 300px;
  left: 227px;
  width: 68px;
  height: 81px;
  background-image: url('./img/right-leg.svg');
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
  }
  .hangman-block__img {
    max-width: 200px;
    margin-bottom: 60px;
  }
  .title {
    display: none;
  }

  .hangman-block__limb {
    transform: scale(0.74);
  }

  .hangman-block__limb_1 {
    top: 70px;
    left: 90px;
  }
  .hangman-block__limb_2 {
    top: 120px;
    left: 170px;
  }
  .hangman-block__limb_3 {
    top: 130px;
    left: 115px;
  }
  .hangman-block__limb_4 {
    top: 130px;
    left: 163px;
  }
  .hangman-block__limb_5 {
    top: 220px;
    left: 115px;
  }
  .hangman-block__limb_6 {
    top: 220px;
    left: 163px;
  }

  @media (max-width: 559px) {
    .game-block {
      transform: scale(0.8);
    }
    .hangman-block__img {
      margin-bottom: 40px;
    }
  }
}
