* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  row-gap: 40px;
}

.game {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.crossword,
.left-clues,
.top-clues {
  display: grid;
  border: 3px solid #000000;
}

.crossword {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.left-clues {
  right: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-right: none;
}

.top-clues {
  bottom: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: none;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  border: 0.5px solid #a7a7a7;
}

.crossword .cell {
  cursor: pointer;
}

.filled {
  background-color: #000000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.608);
  opacity: 0;
  transition: opacity 0.3s linear;
  pointer-events: none;
}
.show {
  opacity: 1;
  pointer-events: auto;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}
.modal__img {
  display: block;
  max-width: 300px;
  margin-bottom: 20px;
  object-fit: fill;
}
.modal__result {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;
}
.modal__text {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-size: 500;
  text-align: center;
}
.modal__answer {
  font-weight: 600;
  color: #5e51be;
}
.modal__start {
  padding: 12px 23px;
}

input[type='radio'] {
  display: none;
}

.complexites {
  display: flex;
  column-gap: 20px;
}

.complexites__radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: #7eb177;
  border-radius: 5px;
  cursor: pointer;
}
.easy {
  /* background-color: blue; */
}
.medium {
  /* background-color: #00ffff; */
}
.hard {
  /* background-color: #1eff00; */
}

input[type='radio']:checked + label {
  border: black solid 2px;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #7eb177;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pictures {
  display: flex;
  column-gap: 15px;
}

.pictures__picture {
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
}

.mark::before {
  /* background-color: red; */
  content: '\274C';
}
