* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.crossword,
.left-clues,
.top-clues {
  display: grid;
  border: 2px solid rgb(0, 0, 0);
}

.crossword {
  position: relative;
}

.left-clues {
  position: absolute;
  top: -1.75px;
  right: 100%;
}

.top-clues {
  position: absolute;
  bottom: 100%;
  left: -1.75px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  border: 1px solid #7b7a7a;
}

.filled {
  background-color: hwb(0 0% 100%);
}
